@model aplicacion_proyecto2.Models.TblPedido

@{
    ViewData["Title"] = "Generar Pedido";
}

<h1>Generar Pedido</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="IdUsuario" class="form-control" value="@TempData["Usuario"]" />
                <input type="hidden" asp-for="MontoTotal" value="@ViewData["MontoCarrito"]" class="form-control" />
            </div>
            
            <div class="form-group">
                <label asp-for="Telefono" class="control-label">Teléfono</label>
                <input type="text" asp-for="Telefono" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label">Dirección</label>
                <textarea asp-for="Direccion" class="form-control"></textarea>
            </div>            
            <div class="form-group">
                <label id="idMonto" class="control-label">Monto Total</label>
                <h2 id="idMonto" class="form-control">@ViewData["MontoCarrito"]</h2>
            </div>
            <div class="form-group">
                <input type="submit" value="Generar Pedido" class="btn btn-dark" />
            </div>

            <br />
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
