USE [master]
GO
/****** Object:  Database [db_carrito]    Script Date: 7/12/2024 04:34:56 ******/
CREATE DATABASE [db_carrito]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_carrito', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_carrito.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_carrito_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_carrito_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_carrito].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_carrito]
GO
/****** Object:  Table [dbo].[tbl_carrito]    Script Date: 7/12/2024 04:34:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_carrito](
	[id_carrito] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_detalle_producto] [int] NOT NULL,
	[cantidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_carrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_categorias]    Script Date: 7/12/2024 04:34:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_categorias](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[categoria] [varchar](50) NOT NULL,
	[estado] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_colores]    Script Date: 7/12/2024 04:34:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_colores](
	[id_color] [int] IDENTITY(1,1) NOT NULL,
	[color] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_color] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_detalle_pedido]    Script Date: 7/12/2024 04:34:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_detalle_pedido](
	[id_pedido] [int] NOT NULL,
	[id_detalle_producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[total_pedido] [decimal](14, 2) NOT NULL,
	[id_detalle_pedido] [int] NOT NULL,
 CONSTRAINT [pk_tbl_detalle_pedido] PRIMARY KEY CLUSTERED 
(
	[id_detalle_pedido] ASC,
	[id_pedido] ASC,
	[id_detalle_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_detalle_producto]    Script Date: 7/12/2024 04:34:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_detalle_producto](
	[id_detalle_producto] [int] IDENTITY(1,1) NOT NULL,
	[id_producto] [int] NOT NULL,
	[id_medida] [int] NOT NULL,
	[id_color] [int] NOT NULL,
	[stock] [int] NOT NULL,
	[nombre_imagen] [varchar](100) NULL,
	[ruta_imagen] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_medidas]    Script Date: 7/12/2024 04:34:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_medidas](
	[id_medida] [int] IDENTITY(1,1) NOT NULL,
	[medida] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_medida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_metodos_pago]    Script Date: 7/12/2024 04:34:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_metodos_pago](
	[id_metodo_pago] [int] IDENTITY(1,1) NOT NULL,
	[metodo_pago] [varchar](50) NOT NULL,
	[estado] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_metodo_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_pedidos]    Script Date: 7/12/2024 04:34:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_pedidos](
	[id_pedido] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[monto_total] [decimal](14, 2) NOT NULL,
	[telefono] [int] NULL,
	[direccion] [varchar](255) NOT NULL,
	[fecha] [date] NULL,
	[estado] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_personas]    Script Date: 7/12/2024 04:34:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_personas](
	[id_persona] [int] IDENTITY(1,1) NOT NULL,
	[id_metodo_pago] [int] NOT NULL,
	[numero_identificacion] [varchar](30) NOT NULL,
	[primer_nombre] [varchar](30) NOT NULL,
	[segundo_nombre] [varchar](30) NULL,
	[primer_apellido] [varchar](30) NOT NULL,
	[segundo_apellido] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_productos]    Script Date: 7/12/2024 04:34:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_productos](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[id_categoria] [int] NOT NULL,
	[nombre_producto] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[precio] [decimal](14, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_promociones]    Script Date: 7/12/2024 04:34:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_promociones](
	[id_promocion] [int] IDENTITY(1,1) NOT NULL,
	[id_producto] [int] NOT NULL,
	[descripcion] [varchar](500) NULL,
	[descuento] [int] NOT NULL,
	[estado] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_promocion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_usuarios]    Script Date: 7/12/2024 04:34:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[id_persona] [int] NOT NULL,
	[email] [varchar](50) NOT NULL,
	[contrasena] [varchar](10) NOT NULL,
	[estado] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_carrito] ON 

INSERT [dbo].[tbl_carrito] ([id_carrito], [id_usuario], [id_detalle_producto], [cantidad]) VALUES (34, 1, 32, 2)
SET IDENTITY_INSERT [dbo].[tbl_carrito] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_categorias] ON 

INSERT [dbo].[tbl_categorias] ([id_categoria], [categoria], [estado]) VALUES (1, N'Tecnología', N'A')
INSERT [dbo].[tbl_categorias] ([id_categoria], [categoria], [estado]) VALUES (2, N'Belleza', N'A')
INSERT [dbo].[tbl_categorias] ([id_categoria], [categoria], [estado]) VALUES (3, N'Hogar', N'A')
SET IDENTITY_INSERT [dbo].[tbl_categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_colores] ON 

INSERT [dbo].[tbl_colores] ([id_color], [color]) VALUES (1, N'Metálico')
INSERT [dbo].[tbl_colores] ([id_color], [color]) VALUES (2, N'Blanco')
INSERT [dbo].[tbl_colores] ([id_color], [color]) VALUES (3, N'Negro')
SET IDENTITY_INSERT [dbo].[tbl_colores] OFF
GO
INSERT [dbo].[tbl_detalle_pedido] ([id_pedido], [id_detalle_producto], [cantidad], [total_pedido], [id_detalle_pedido]) VALUES (1, 1, 2, CAST(84190000.00 AS Decimal(14, 2)), 1)
INSERT [dbo].[tbl_detalle_pedido] ([id_pedido], [id_detalle_producto], [cantidad], [total_pedido], [id_detalle_pedido]) VALUES (1, 16, 2, CAST(84190000.00 AS Decimal(14, 2)), 1)
INSERT [dbo].[tbl_detalle_pedido] ([id_pedido], [id_detalle_producto], [cantidad], [total_pedido], [id_detalle_pedido]) VALUES (1, 37, 1, CAST(84190000.00 AS Decimal(14, 2)), 1)
GO
SET IDENTITY_INSERT [dbo].[tbl_detalle_producto] ON 

SET IDENTITY_INSERT [dbo].[tbl_detalle_producto] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_medidas] ON 

INSERT [dbo].[tbl_medidas] ([id_medida], [medida]) VALUES (1, N'10 pies')
INSERT [dbo].[tbl_medidas] ([id_medida], [medida]) VALUES (2, N'8 pies')
INSERT [dbo].[tbl_medidas] ([id_medida], [medida]) VALUES (3, N'15 pulgadas')
SET IDENTITY_INSERT [dbo].[tbl_medidas] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_metodos_pago] ON 

INSERT [dbo].[tbl_metodos_pago] ([id_metodo_pago], [metodo_pago], [estado]) VALUES (1, N'Tarjeta', N'A')
SET IDENTITY_INSERT [dbo].[tbl_metodos_pago] OFF
GO
INSERT [dbo].[tbl_pedidos] ([id_pedido], [id_usuario], [monto_total], [telefono], [direccion], [fecha], [estado]) VALUES (1, 1, CAST(84190000.00 AS Decimal(14, 2)), 66543218, N'prueba', CAST(N'2024-12-04' AS Date), N'A')
INSERT [dbo].[tbl_pedidos] ([id_pedido], [id_usuario], [monto_total], [telefono], [direccion], [fecha], [estado]) VALUES (5, 1, CAST(5170000.00 AS Decimal(14, 2)), 66543218, N'prueba', CAST(N'2024-12-04' AS Date), N'I')
INSERT [dbo].[tbl_pedidos] ([id_pedido], [id_usuario], [monto_total], [telefono], [direccion], [fecha], [estado]) VALUES (6, 3, CAST(5600000.00 AS Decimal(14, 2)), 75748309, N'Prueba', CAST(N'2024-12-06' AS Date), N'I')
GO
SET IDENTITY_INSERT [dbo].[tbl_personas] ON 

INSERT [dbo].[tbl_personas] ([id_persona], [id_metodo_pago], [numero_identificacion], [primer_nombre], [segundo_nombre], [primer_apellido], [segundo_apellido]) VALUES (1, 1, N'115750859', N'Kenia', NULL, N'Agüero', N'Barrios')
INSERT [dbo].[tbl_personas] ([id_persona], [id_metodo_pago], [numero_identificacion], [primer_nombre], [segundo_nombre], [primer_apellido], [segundo_apellido]) VALUES (2, 1, N'114764321', N'Milena', NULL, N'Agüero', N'Barrios')
SET IDENTITY_INSERT [dbo].[tbl_personas] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_productos] ON 

INSERT [dbo].[tbl_productos] ([id_producto], [id_categoria], [nombre_producto], [descripcion], [precio]) VALUES (1, 1, N'Audífonos Inalámbricos', N'Audífonos compatibles con dispositivos Bluetooth con audio digital de alta clidad.', CAST(11000.00 AS Decimal(14, 2)))
INSERT [dbo].[tbl_productos] ([id_producto], [id_categoria], [nombre_producto], [descripcion], [precio]) VALUES (2, 1, N'Audífonos', N'Audífonos compatibles con celulares, tabletas y computadoras', CAST(5000.00 AS Decimal(14, 2)))
INSERT [dbo].[tbl_productos] ([id_producto], [id_categoria], [nombre_producto], [descripcion], [precio]) VALUES (3, 1, N'Audífonos', N'Audífonos de gran capacidad de audio.', CAST(9500.00 AS Decimal(14, 2)))
SET IDENTITY_INSERT [dbo].[tbl_productos] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_usuarios] ON 

INSERT [dbo].[tbl_usuarios] ([id_usuario], [id_persona], [email], [contrasena], [estado]) VALUES (1, 1, N'abakm21@gmail.com', N'123', N'A')
INSERT [dbo].[tbl_usuarios] ([id_usuario], [id_persona], [email], [contrasena], [estado]) VALUES (3, 2, N'mile_ab@gmail.com', N'123', N'A')
SET IDENTITY_INSERT [dbo].[tbl_usuarios] OFF
GO
ALTER TABLE [dbo].[tbl_carrito] ADD  DEFAULT ((0)) FOR [cantidad]
GO
ALTER TABLE [dbo].[tbl_categorias] ADD  DEFAULT ('A') FOR [estado]
GO
ALTER TABLE [dbo].[tbl_detalle_pedido] ADD  DEFAULT ((0)) FOR [cantidad]
GO
ALTER TABLE [dbo].[tbl_detalle_pedido] ADD  DEFAULT ((0)) FOR [total_pedido]
GO
ALTER TABLE [dbo].[tbl_detalle_producto] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[tbl_metodos_pago] ADD  DEFAULT ('A') FOR [estado]
GO
ALTER TABLE [dbo].[tbl_pedidos] ADD  DEFAULT ((0)) FOR [monto_total]
GO
ALTER TABLE [dbo].[tbl_pedidos] ADD  DEFAULT ('A') FOR [estado]
GO
ALTER TABLE [dbo].[tbl_productos] ADD  DEFAULT ((0)) FOR [precio]
GO
ALTER TABLE [dbo].[tbl_promociones] ADD  DEFAULT ((0)) FOR [descuento]
GO
ALTER TABLE [dbo].[tbl_promociones] ADD  DEFAULT ('A') FOR [estado]
GO
ALTER TABLE [dbo].[tbl_usuarios] ADD  DEFAULT ('A') FOR [estado]
GO
ALTER TABLE [dbo].[tbl_carrito]  WITH CHECK ADD FOREIGN KEY([id_detalle_producto])
REFERENCES [dbo].[tbl_detalle_producto] ([id_detalle_producto])
GO
ALTER TABLE [dbo].[tbl_carrito]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[tbl_usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tbl_detalle_pedido]  WITH CHECK ADD FOREIGN KEY([id_detalle_producto])
REFERENCES [dbo].[tbl_detalle_producto] ([id_detalle_producto])
GO
ALTER TABLE [dbo].[tbl_detalle_pedido]  WITH CHECK ADD FOREIGN KEY([id_pedido])
REFERENCES [dbo].[tbl_pedidos] ([id_pedido])
GO
ALTER TABLE [dbo].[tbl_detalle_producto]  WITH CHECK ADD FOREIGN KEY([id_color])
REFERENCES [dbo].[tbl_colores] ([id_color])
GO
ALTER TABLE [dbo].[tbl_detalle_producto]  WITH CHECK ADD FOREIGN KEY([id_medida])
REFERENCES [dbo].[tbl_medidas] ([id_medida])
GO
ALTER TABLE [dbo].[tbl_detalle_producto]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [dbo].[tbl_productos] ([id_producto])
GO
ALTER TABLE [dbo].[tbl_pedidos]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[tbl_usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tbl_personas]  WITH CHECK ADD FOREIGN KEY([id_metodo_pago])
REFERENCES [dbo].[tbl_metodos_pago] ([id_metodo_pago])
GO
ALTER TABLE [dbo].[tbl_productos]  WITH CHECK ADD FOREIGN KEY([id_categoria])
REFERENCES [dbo].[tbl_categorias] ([id_categoria])
GO
ALTER TABLE [dbo].[tbl_promociones]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [dbo].[tbl_productos] ([id_producto])
GO
ALTER TABLE [dbo].[tbl_usuarios]  WITH CHECK ADD FOREIGN KEY([id_persona])
REFERENCES [dbo].[tbl_personas] ([id_persona])
GO
ALTER TABLE [dbo].[tbl_categorias]  WITH CHECK ADD  CONSTRAINT [ck_tbl_categorias] CHECK  (([estado]='I' OR [estado]='A'))
GO
ALTER TABLE [dbo].[tbl_categorias] CHECK CONSTRAINT [ck_tbl_categorias]
GO
ALTER TABLE [dbo].[tbl_metodos_pago]  WITH CHECK ADD  CONSTRAINT [ck_metodos_pago] CHECK  (([estado]='I' OR [estado]='A'))
GO
ALTER TABLE [dbo].[tbl_metodos_pago] CHECK CONSTRAINT [ck_metodos_pago]
GO
ALTER TABLE [dbo].[tbl_pedidos]  WITH CHECK ADD  CONSTRAINT [ck_tbl_pedidos] CHECK  (([estado]='I' OR [estado]='A'))
GO
ALTER TABLE [dbo].[tbl_pedidos] CHECK CONSTRAINT [ck_tbl_pedidos]
GO
ALTER TABLE [dbo].[tbl_promociones]  WITH CHECK ADD  CONSTRAINT [ck_tbl_promociones] CHECK  (([estado]='I' OR [estado]='A'))
GO
ALTER TABLE [dbo].[tbl_promociones] CHECK CONSTRAINT [ck_tbl_promociones]
GO
ALTER TABLE [dbo].[tbl_usuarios]  WITH CHECK ADD  CONSTRAINT [ck_tbl_usuarios] CHECK  (([estado]='I' OR [estado]='A'))
GO
ALTER TABLE [dbo].[tbl_usuarios] CHECK CONSTRAINT [ck_tbl_usuarios]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del carrito' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_carrito', @level2type=N'COLUMN',@level2name=N'id_carrito'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del usuario' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_carrito', @level2type=N'COLUMN',@level2name=N'id_usuario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del detalle del producto' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_carrito', @level2type=N'COLUMN',@level2name=N'id_detalle_producto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Cantidad de productos' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_carrito', @level2type=N'COLUMN',@level2name=N'cantidad'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador de la categoria del producto' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_categorias', @level2type=N'COLUMN',@level2name=N'id_categoria'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Categoria del producto' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_categorias', @level2type=N'COLUMN',@level2name=N'categoria'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Estado del usuario. Posibles valores: A: Activo, I: Inactivo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_categorias', @level2type=N'COLUMN',@level2name=N'estado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del color' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_colores', @level2type=N'COLUMN',@level2name=N'id_color'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Color del producto' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_colores', @level2type=N'COLUMN',@level2name=N'color'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del detalle de producto' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_detalle_producto', @level2type=N'COLUMN',@level2name=N'id_detalle_producto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del producto' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_detalle_producto', @level2type=N'COLUMN',@level2name=N'id_producto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador de la medida del producto' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_detalle_producto', @level2type=N'COLUMN',@level2name=N'id_medida'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del color del producto' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_detalle_producto', @level2type=N'COLUMN',@level2name=N'id_color'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Cantidad de productos en stock' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_detalle_producto', @level2type=N'COLUMN',@level2name=N'stock'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre de la imagen del produto' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_detalle_producto', @level2type=N'COLUMN',@level2name=N'nombre_imagen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ruta de la imagen del producto' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_detalle_producto', @level2type=N'COLUMN',@level2name=N'ruta_imagen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador de la medida' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_medidas', @level2type=N'COLUMN',@level2name=N'id_medida'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Medidad del producto, puede ser en cm, pies, pulgadas, entre otras' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_medidas', @level2type=N'COLUMN',@level2name=N'medida'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del metodo de pago' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_metodos_pago', @level2type=N'COLUMN',@level2name=N'id_metodo_pago'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Metodo de pago' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_metodos_pago', @level2type=N'COLUMN',@level2name=N'metodo_pago'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Estado del metodo de pago. Posibles valores: A: Activo, I: Inactivo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_metodos_pago', @level2type=N'COLUMN',@level2name=N'estado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del pedido' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_pedidos', @level2type=N'COLUMN',@level2name=N'id_pedido'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del usuario que realiza el pedido' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_pedidos', @level2type=N'COLUMN',@level2name=N'id_usuario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Monto total del pedido' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_pedidos', @level2type=N'COLUMN',@level2name=N'monto_total'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Telefono del usuario que realiza el pedido' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_pedidos', @level2type=N'COLUMN',@level2name=N'telefono'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Direccion del usuario que realiza el pedido' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_pedidos', @level2type=N'COLUMN',@level2name=N'direccion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha en que se realiza el pedido' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_pedidos', @level2type=N'COLUMN',@level2name=N'fecha'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Estado del pedido. Posibles valores: A:Activa, I:Inactiva' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_pedidos', @level2type=N'COLUMN',@level2name=N'estado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador de la persona' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_personas', @level2type=N'COLUMN',@level2name=N'id_persona'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del metodo de pago' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_personas', @level2type=N'COLUMN',@level2name=N'id_metodo_pago'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Numero de identificacion de la persona' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_personas', @level2type=N'COLUMN',@level2name=N'numero_identificacion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primer nombre de la persona' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_personas', @level2type=N'COLUMN',@level2name=N'primer_nombre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Segundo nombre de la persona' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_personas', @level2type=N'COLUMN',@level2name=N'segundo_nombre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primer apellido de la persona' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_personas', @level2type=N'COLUMN',@level2name=N'primer_apellido'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Segundo apellido de la persona' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_personas', @level2type=N'COLUMN',@level2name=N'segundo_apellido'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del producto' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_productos', @level2type=N'COLUMN',@level2name=N'id_producto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador de la categoria del producto' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_productos', @level2type=N'COLUMN',@level2name=N'id_categoria'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre del producto' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_productos', @level2type=N'COLUMN',@level2name=N'nombre_producto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Descripcion del producto' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_productos', @level2type=N'COLUMN',@level2name=N'descripcion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Precio del producto' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_productos', @level2type=N'COLUMN',@level2name=N'precio'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador de la promoción' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_promociones', @level2type=N'COLUMN',@level2name=N'id_promocion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del producto' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_promociones', @level2type=N'COLUMN',@level2name=N'id_producto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Descripcion de la promocion' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_promociones', @level2type=N'COLUMN',@level2name=N'descripcion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Descuento aplicado al producto' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_promociones', @level2type=N'COLUMN',@level2name=N'descuento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Estao de la promocion. Posibles valores: A:Activa, I:Inactiva' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_promociones', @level2type=N'COLUMN',@level2name=N'estado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del usuario' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_usuarios', @level2type=N'COLUMN',@level2name=N'id_usuario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador de la persona' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_usuarios', @level2type=N'COLUMN',@level2name=N'id_persona'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Direccion de correo electronico del usuario' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_usuarios', @level2type=N'COLUMN',@level2name=N'email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contraseña del usuario' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_usuarios', @level2type=N'COLUMN',@level2name=N'contrasena'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Estado del usuario. Posibles valores: A: Activo, I: Inactivo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_usuarios', @level2type=N'COLUMN',@level2name=N'estado'
GO
USE [master]
GO
