html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.categorias, .productos {
    display: grid;
    gap: 1rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(min(100%,25rem), 1fr));
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.tarjeta {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: #fff;
    padding: 20px;
}

 .tarjeta:hover {
     transition: scale(1.02);
     box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
 }

.buscador {
    padding-bottom: 20px;
}

.productos img {
    max-height: 30vh;
    object-fit: contain;
}

/*Detalle de productos*/
#btn-carrito {
    background-color: aquamarine;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

#btn-carrito a {
    text-decoration: none;
    color: black;
}

.elemento-lista {
    padding-top: 25px;
}