@model TblListaPedido


@{
    ViewData["Title"] = "Create";
}

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--<div class="form-group">
                <label asp-for="provincia.IdProvincia" class="control-label">Provincia</label>
                <select id="listaProvincia" asp-for="provincia.IdProvincia" class="form-control" asp-items="ViewBag.Provincia"></select>
            </div>
            <div class="form-group">
                <label asp-for="cantone.IdCanton" class="control-label">Cantón</label>
                <select id="listaCanton" asp-for="cantone.IdCanton" class="form-control" asp-items="ViewBag.Canton">
                    <option value="">Seleccione un cantón</option>
                </select>
            </div>-->
            <div class="col-sm-3">
                <label class="form-label">Provincia</label>
                <select class="form-select form-select-sm" id="seleccionProvincia"></select>
            </div>
            <div class="col-sm-3">
                <label class="form-label">Cantón</label>
                <input class="form-select form-select-sm" id="seleccionCanton"/>
            </div>
            <div class="col-sm-3">
                <label class="form-label">Distrito</label>
                <select class="form-select form-select-sm" id="seleccionDistrito"></select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        //Función que se ejecuta cuando el dicumento se encuentre cargado
        $(document).ready(function() {
            ListaProvincias();
        });

        function ListaProvincias() {
            $.ajax({
                url: "@Url.Action("CargarUbicacion","TblDetallePedidoes")",
                type: "GET",
                dataType: "json",
                data: {
                    tipo: "P",
                    idProvincia: "",
                    idCanton: ""
                },
                success: function (response) {
                    console.log(response);

                    $("#seleccionProvincia").append(
                        $("<option>").attr({"value":""}).text("--Seleccionar--")
                    )

                    $.each(response,function(i,elemento){
                        $("#seleccionProvincia").append(
                            $("<option>").attr({ "value": elemento.Provincia }).text(elemento.Provincia)
                        )
                    })
                }
            });
        }
    </script>
}
